/* Add  */

input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.5em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}

/* Custom  */
.item{
    font-size: 18px;
    border-bottom: 1px solid rgb(199, 199, 199);
    display: flex;
    align-items: center;
}

.item label.content{
    padding: 15px 5px;
}

.item i {
    display: none;
    margin-left: auto;
    padding: 10px;
    font-size: 15px;
    color: red;
}

.completed {
    text-decoration: line-through;
    font-weight: 100;
    color: rgb(117, 116, 116);
}

.item:hover i{
    display: inherit;
}